<ul class="nav nav-tabs">
  <li><a href="<span id=""></span>Profile</a></li>
  <li class="active"><a href="http://localhost:3000/users_profiles/instruments/7">Instruments</a></li>
  <li><a href="#">Rental</a></li>
</ul>