
.home-list-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));

  grid-gap: 10px;
}
