<h3 class="text-center">Featured Categories</h3>

<div class="home-list-grid">
    <%=link_to instruments_path(category: "Guitars, Bass, Orchestral Strings")  do %>
      <div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1503060073/pexels-photo-258283_w39qoe.jpg');">
      <div class="banner-category-title">Strings</div>
      </div>
    <% end %>
    <%=link_to instruments_path(category: "Percussion Instruments") do %>
      <div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1503060086/pexels-photo-241687_nmcloy.jpg');">
      <div class="banner-category-title">Drums</div>
      </div>
    <% end %>
    <%=link_to instruments_path(category: "Brass Instruments, Wind & Woodwinds") do %>
      <div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1503060101/saxophone-music-gold-gloss-45243_gf2n5x.jpg');">
      <div class="banner-category-title">Winds</div>
      </div>
    <% end %>
    <%=link_to instruments_path(category: "Keyboards") do %>
      <div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1503060111/public-domain-images-free-stock-photos-high-quality-resolution-downloads-around-the-house-22-1000x666_naolcf.jpg');">
      <div class="banner-category-title">Keyboards</div>
      </div>
    <% end %>
</div>
