<%= simple_form_for [@instrument, @rental] do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :start_date, input_html: {id: "datetimepicker1"}, as: :string %>
    </div>
    <div class="col-sm-6">
      <%= f.input :end_date, input_html: { id: "datetimepicker2" }, as: :string %>
    </div>
  </div>

  <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">

   $('#datetimepicker1').datetimepicker( {format: "DD/MM/YYYY" } );
   $('#datetimepicker2').datetimepicker( {format: "DD/MM/YYYY" } );

  </script>
<% end %>
