<h2>Rent</h2>

<%= simple_form_for Rental.new, url: rent_instrument_path(@instrument) do |f| %>
  <%= f.input :start_date, input_html: {id: "datetimepicker1"}, as: :string %>
  <%= f.input :end_date, input_html: { id: "datetimepicker2" }, as: :string  %>
  <%= f.button :submit %>
<% end %>


<!--<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
  </div>
</div>-->

<% content_for(:after_js) do %>
<script type="text/javascript">

 $('#datetimepicker1').datetimepicker( {format: "DD/MM/YYYY" } );
 $('#datetimepicker2').datetimepicker( {format: "DD/MM/YYYY" } );


</script>
<% end %>
